# +----------------------+
# |      API Tokens      |
# +----------------------+

# Discord bot token
DISCORD_TOKEN=""
# Sentry token (you can leave blank)
SENTRY_TOKEN=""
# Compiler-API client ID
COMPILERAPI_ID=""
# Compiler-API client secret
COMPILERAPI_SECRET=""

# +----------------------+
# |         URLs         |
# +----------------------+

# MongoDB URI
MONGO_URI="mongodb://localhost:27017/horizonbot"
# Eclass cloud URL
ECLASS_DRIVE_URL="https://sharepoint.com"

# Main Guild IDS used for registrating some specific commands ("/lxp", "/recordings", "/eclass"). Coma-separated.
MAIN_GUILD_IDS=""

# +-----------------------+
# |     Google Sheets     |
# +-----------------------+

# Service Account email address (xxx@xxx.iam.gserviceaccount.com)
GOOGLE_SHEET_SVC_EMAIL=
# Service Account private key, with newlines replaced by "\n"
GOOGLE_SHEET_SVC_PRIVATE_KEY=
# Google Sheet ID from the URL
GOOGLE_SHEET_ID=
